body{
	display: flex;
	background-image: url(index.png);
	background-size:  cover;
	background-repeat: no-repeat;
}

ul {
	list-style-type: none

}
img{
	float: left;
	transition: all 1s;
}

img:hover{
	transform: scale(1.3);
}

section{
	display: flex;
	display: inline-block;
	justify-content: flex-start;
}
div p {
	clear: both;
	margin-bottom: 50px;
	font-family: 'Poiret One', cursive;
	font-size: 30px

}

main{
	margin-top: : 20px;
}
footer p{
	position: fixed; 
	left: 10px;
	bottom: 0;
	display: flex;
	justify-content: flex-end;
	vertical-align: bottom;
	font-family: 'Poiret One', cursive;

}

h1{
	display: flex;
	justify-content: flex-end;
	font-family: 'Poiret One', cursive;	
	font-size: 5em;
	margin-bottom: 0px;
	margin-top: 0px;
	
}

.icons{
	
	margin-left: 50px;
	margin-bottom: : 50px;
	height: 160px;

}

.menu{
	border:5px ;
	margin-left: 50px;
	margin-bottom: : 50px;
	display: inline-block;
	}

.collapsible {
	display: flex;
}
.main
{
	width: 100%;
}
